body {
    img src
    background-color: #F7B32B;
    font-family: arial;
}

.header {
    background-color: #166088;
    padding: ;
}

.main {
    background-color : ;
}

.footer {
    background-color: ;
    padding: ;
}